/* Hausaufgabe hier bearbeiten: */

/* Aufgabe 3.2.1 */
#a11 {
    position: absolute;
    top:  100px;
    left: 100px;
}

#a12 {
    position: absolute;
    bottom: 0px;
    right: 50px;
}

#a13 {
    position: absolute;
    bottom: 50px;
    right: 50px;
}


/* Aufgabe 3.2.2 */
#a21 {
    position: relative;
    top:  100px;
    left: 100px;
}

#a22 {
    position: relative;
    top: 200px;
    left: 200px;
}

#a23 {
    position: relative;
    top: 100px;
    left: 200px;
}


/* Aufgabe 3.2.3 */
.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 50px 50px);
    grid-template-rows: repeat(6, 50px 50px);
}

#a31 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

#a32 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

#a33 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}